body{
    margin : 0px; /*바깥여백 0*/
}

a{
    text-decoration: none; /*텍스트의 밑줄 삭제*/
    color:white;
}

.NavBar{
    display : flex; /*가로로 나란히 flexbox설정*/
    justify-content: space-between; /*양쪽 끝을 중심축으로 같은 여백가짐[가로축]*/
    align-items : center; /*가운데정렬 [세로축]*/
    background-color: #363343;
    padding-left : 20px; /*좌우 안쪽 여백을 조금 띄워준다.*/
    padding-right : 20px;
}

.NavBar___LogoImage{
    font-size : 24px;
    color : #d49466;
}


.NavBar___MainMenu{
    display : flex; /*메뉴를 가로로*/
    list-style: none; /*리스트 앞에 점들을 없애준다.*/
}

.NavBar___MainMenu li{
    padding : 8px 12px;
}